.page-header {
    
   
    &__container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
    margin-left: auto;
}
}

